@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");

html {
  /* height: 100%; */
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Ubuntu Mono", monospace;
  color: rgb(149, 247, 245);
  /* color: rgb(160, 245, 95); */
  text-align: center;
  zoom: 1;
  background-color: rgb(1, 19, 36);
}

html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  margin: 0;
}

html h1 {
  color: rgb(160, 245, 95);
  /* color: #333; */
  font-weight: 500;
  font-size: 300%;
}

html h2 {
  font-size: 120%;
}

html h3 {
  color: #aaa;
  font-weight: 500;
  font-size: 20%;
}

html h4 {
  color: #999;
  font-weight: 500;
}

html h4:after {
  content: "";
  padding-left: 1px;
}

#h4Depth:after {
  content: "km";
  font-size: 60%;
}

html input[type="range"] {
  outline: 0;
  border: 0;
  border-radius: 500px;
  width: 350px;
  max-width: 100%;
  margin: 10px 0 16px;
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  html input[type="range"] {
    overflow: hidden;
    height: 40px;
    -webkit-appearance: none;
    background-color: #ddd;
  }
  html input[type="range"]::-webkit-slider-runnable-track {
    height: 40px;
    -webkit-appearance: none;
    color: #444;
    transition: box-shadow 0.2s ease-in-out;
  }
  html input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 320px rgb(255, 5, 145),
      inset 0 0 0 40px rgb(255, 5, 145);
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  html input[type="range"]:active::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 320px rgb(255, 5, 145),
      inset 0 0 0 3px rgb(255, 5, 145);
  }
}

html input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}

html input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}

html input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}

html input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

#h4-container {
  width: 400px;
  max-width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

#h4-container #h4-subcontainer {
  width: 100%;
  position: relative;
}

#h4-container #h4-subcontainer h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  color: #fff !important;
  font-size: 12px;
  transform-origin: center -10px;
  transform: translateX(-50%);
  transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

#h4-container #h4-subcontainer h4 span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(255, 5, 145);
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  z-index: -1;
}

input:not(:active) + #h4-container h4 {
  opacity: 0;
  margin-top: -50px;
  pointer-events: none;
}

/*  */

.css-button-fully-rounded--red {
  min-width: 150px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(0, 202, 199);
  background: rgb(0, 202, 199);
  font-size: 110%;
}
.css-button-fully-rounded--red:hover {
  background: #fff;
  color: rgb(0, 202, 199);
}
#buttonRun {
  min-width: 200px;
  height: 80px;
  color: #fff;
  padding: 5px 10px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(0, 202, 199);
  background: rgb(0, 202, 199);
  font-size: 150%;
  margin-bottom: 10px;
}
#buttonRun:hover {
  background: #fff;
  color: rgb(0, 202, 199);
}

#saveFig {
  min-width: 150px;
  height: 60px;
  color: rgb(1, 19, 36);
  padding: 5px 10px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid rgb(160, 245, 95);
  background: rgb(160, 245, 95);
  font-size: 100%;
}
#saveFig:hover {
  background: rgb(1, 19, 36);
  color: rgb(160, 245, 95);
}

/* for loding */

/* #loadingIcon{
  visibility: hidden;
} */

#fadeLayer {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background-color: rgb(1, 19, 36);
  opacity: 0.2;
  visibility: hidden;
  z-index: 1;
}

.sk-chase {
  /* display: flex; */
  visibility: hidden;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
  left: 220px;
  top: -500px;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: rgb(255, 0, 251) !important;
  /* background-color: rgb(149, 247, 245); */
  border-radius: 80%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}

/* #test_canvas {
  position: absolute;
  top: 10px;
}
#presets {
  position: absolute;
  top: 606px;
} */
